<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Emily Lavinskas · Graphic Designer</title>
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
</head>
    
    {{content}}

<footer class="footer-info">
    <a class="back-top" href="#top"><img class="fade scrollup" src="{{site.baseurl}}/images/back-top.svg{{image}}" alt="back to top button"></a>
    <p>Copyright &copy; Emily Lavinskas 2016</p>       
</footer>
    
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
    <script src="js/main.js"></script>