<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Emily Lavinskas · Graphic Designer</title>
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
</head>
    
    {{content}}
    
    <div class="contact-section" id="contact">
        <h2 class="contact-title">Impressed? Let's talk.</h2>
            <div class="email-div-wrap">
                <a href="mailto:hey@emilylavinskas.ca?Subject=Hi There!" target="_top" class="email">hey@emilylavinskas.ca</a>
            </div>
            <div class="contact-icons">
                <a href="{{site.baseurl}}/http://behance.net/emilycmyk"><img class="sm-icon" src="{{site.baseurl}}/images/behance-icon.svg{{image}}" alt="behance icon"></a>
                <a href="{{site.baseurl}}/https://ca.linkedin.com/in/emilylavinskas"><img class="sm-icon" src="{{site.baseurl}}/images/linkedin-icon.svg{{image}}" alt="linkedin icon"></a>
                <a href="{{site.baseurl}}/http://instagram.com/hey.imemily"><img class="sm-icon" src="{{site.baseurl}}/images/instagram-icon.svg{{image}}" alt="instagram icon"></a> 
            </div>
        
<footer class="footer-info">
    <p>Copyright &copy; Emily Lavinskas 2015</p>       
</footer>